# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/
env/

# Python / PyTest Caches
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

# IDEs
.vscode/
.idea/

# Data directories (do not push raw or processed parquet datasets)
data/raw/
data/processed/
{data/
temp/
tmp/
